@model IAsyncEnumerable<PatientModel?>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row mt-2">
    <partial name="_ResponsePartial"/>
    @await foreach (var patient in Model)
    {
        <div class="col-sm-4" style="width:300px; height:400px;">
            <div class="card mb-4 shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <img src="~/Images/user-icon-png-person-user-profile-icon-20.png" class="card-img-top rounded-circle mx-auto d-block" alt="Patient Image" style="width: 100px; height: 100px;">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-black fw-bold">@patient?.Name</h5>
                    <p class="card-text text-secondary">
                        <strong>Gender:</strong> @patient?.Gender <br>
                        <strong>Number:</strong> @patient?.PhoneNumber <br>
                        <strong>Address:</strong> @patient?.Address
                    </p>
                    <a class="btn btn-outline-primary" href="/Patient/Get-By-Id?id=@patient?.Id">View Details</a>
                </div>
            </div>
        </div>
    }
</div>
